spring:
  application:
    name: projetWebPid
  main:
    banner-mode: off
  messages:
    basename:
    - messages
    encoding: UTF-8
  profiles:
    active:
     - dev
---
spring:
  config:
    activate:
      on-profile:
      - testU
  jpa:
    hibernate:
      ddl-auto: create-drop
  sql:
    init:
      mode: never   
      encoding: UTF-8
---
spring:
  config:
    activate:
      on-profile:
      - dev
  messages:
    basename:
    - messages
    encoding: UTF-8
  datasource:
    url: jdbc:h2:~/PID_DB/pidDB_TH0
    username: sa
    password: 
  sql:
    init:
      mode: always
      encoding: UTF-8
      platform: h2
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2 